h1 {
  color: red;
}

table {
  border: 3px solid blue;
  border-collapse: collapse;
}

th {
  border: 2px solid green;
  padding: 5px 10px;
  text-align: left;
}

td {
  border: 1px solid orange;
  padding: 5px;
}

tr:nth-of-type(2n) {
  background-color: aqua;
}
